 *{
   /* background-color: lightblue; */
   margin: 0;
   padding: 0;
}

.Form{
    width: 720px;
    height: 600px;
    /* background: rgb(100,100,100,5); */
    background: #fff;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

    -moz-box-shadow: 3px 3px 5px #535353;
    -webkit-box-shadow: 3px 3px 5px #535353;
    box-shadow: 3px 3px 5px #535353;

    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
     border-radius: 6px 6px 6px 6px;
 }

 .Form label{
     margin: 0;
     padding: 0;
     font-weight: bold;
 }

 .Form p1{
    margin: 40%;
    padding: 0;
    height: 10%;
    font-size: 20%;
    font-weight: normal;
}
 .Form header{
     height: 15%;

 }

 .Form input{
     width: 100%;
     margin-bottom: 20px;
 }

 .Form a{

    text-decoration: none;
    font-size: 14px;
    color:black;
 }
 .Form input[type="text"]
 {
    border: none;
    /* border-bottom: 1px solid #ffffff; */
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 20px;
    color:black;
    font-size: 15x;
 }

  .button1
 {
    left: 40%;
    position: absolute;
 }

  .button2
 {
    left: 50%;
    position: absolute;
 }
