body{
    margin: 0;
    padding: 0;
    background:url(project.jpg);
    background-size: cover;
    /* background-position: center; */
    font-family: sans-serif;
}
.Login-Box{
    width: 320px;
    height: 420px;
    background: rgb(100,100,100,5);
    color: aquamarine;
    top: 50%;
    left: 30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
 }

 .avatar1{
     width:100px;
     height:100px;
     border-radius: 50%;
     position: absolute;
     top: -50px;
     left: calc(50% - 50px);
 }

 h1{
     margin: 0;
     padding:0 0 20px;
     text-align: center;
     font-size: 22px;
 }

 .Login-Box p{
     margin: 0;
     padding: 0;
     font-weight: bold;
 }

 .Login-Box input{
     width: 100%;
     margin-bottom: 20px;
 }

 .Login-Box input[type="text"], input[type="password"]
 {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color:whitesmoke;
    font-size: 12px;

 }
 .Login-Box input[type="submit"]
 {
     border:none;
     outline-color: cadetblue;
     height: 40px;
     background: darkcyan;
     color: aliceblue;
     font-size: 18px;
     border-radius: 30px;

 }

 .Login-Box input[type="submit"]:hover
 {
     cursor: pointer;
     background: aqua;
     color: #000000;
 }

 .Login-Box a{

    text-decoration: none;
    font-size: 14px;
    color: aqua;
 }

 .Login-Box a:hover
 {
     color: cornflowerblue;
 }

/* ############################      Sign IN     ############################## */

 .Sign-box{
    width: 350px;
    height: 490px;
    background: rgb(100,100,100,5);
    color: aquamarine;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
 }

 h1{
    margin: 0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;
}
.Sign-Box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

 .Sign-Box input{
    width: 100%;
    margin-bottom: 20px;
}
.Sign-Box input[type="text"], input[type="password"]
 {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color:whitesmoke;
    font-size: 12px;

 }

 .Sign-Box input[type="submit"]
 {
     border:none;
     outline-color: cadetblue;
     height: 40px;
     background: darkcyan;
     color: aliceblue;
     font-size: 18px;
     border-radius: 30px;

 }

 .Sign-Box input[type="submit"]:hover
 {
     cursor: pointer;
     background: aqua;
     color: #000000;
 }
