@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  /* background: darkgrey; */
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h2,p{
  font-size:100%;
  font-weight:normal;
}

/********************************  Right side of side bar  ***************************************/
/********************************    Add notes    ***************************************/

.sidebar-right ul,li{
  list-style:none;
}
.sidebar-right ul{
  overflow:hidden;
  padding:3em;
}
.sidebar-right ul li t{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
.sidebar-right ul li{
  margin:1em;
  float:left;
}

.sidebar-right{
  margin-left:15%;
  align-self: auto;
  color:black;
}

.sidebar-right ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.sidebar-right ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

.sidebar-right ul li t{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
 /* ************ ROTATE ******************* */
.sidebar-right ul li:nth-child(even) t{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
.sidebar-right ul li:nth-child(3n) t{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
.sidebar-right ul li:nth-child(5n) t{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.sidebar-right ul li t:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
/* ***************************Add profile button************************************* */

.button_profile{
  left: 27%;
  top: 70%;
  position: absolute;
}

/*********************************  Add Profile Box  ***************************************/

.addprofile_box{
  width: 920px;
  height: 550px;
  background: #fff;
  color: black;
  top: 50%;
  left: 55%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;

  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;
  box-shadow: 3px 3px 5px #535353;

  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;
   border-radius: 6px 6px 6px 6px;
}

.avatar1{
  border-radius: 50%;
  height: 35%;
  width: 25%;
  top: 22%;
  left:8%;
  position: absolute;
}

.verticalline{
  border-left:2px solid black;
  height: 500px;
  position: absolute;
  top: 4%;
  left: 40%;
}

.profile-text{
  position: absolute;
  left: 50%;
  align-items: center;
}

.profile-text input[type="text"]
 {
    background-color: white;
    font-size: 20px;
    vertical-align: middle;
    width: 120%;
    margin: 5px 10px 5px 0;
    border: 1px solid #ddd;
    text-emphasis: emphasis empha;
 }

 .profile-text label{
   margin: 5px 10px 5px 0;
 }
 form label{
   font-weight: bold;
   font-size: 21px;
 }

 /*************************************** Add Project Box ************************************/

 /* .addproj_box{
   width: 920px;
   height: 550px;
   background: #fff;
   color: black;
   top: 50%;
   left: 55%;
   position: absolute;
   transform: translate(-50%,-50%);
   box-sizing: border-box;
   padding: 70px 30px;

   -moz-box-shadow: 3px 3px 5px #535353;
   -webkit-box-shadow: 3px 3px 5px #535353;
   box-shadow: 3px 3px 5px #535353;

   -moz-border-radius: 6px 6px 6px 6px;
   -webkit-border-radius: 6px;
    border-radius: 6px 6px 6px 6px;
 } */

 .avatar1{
   border-radius: 50%;
   height: 35%;
   width: 25%;
   top: 22%;
   left:8%;
   position: absolute;
 }

 .verticalline{
   border-left:2px solid black;
   height: 500px;
   position: absolute;
   top: 4%;
   left: 40%;
 }

 .proj-text{
   position: absolute;
   left: 2%;
   margin-left: 13%;
   align-items: center;
   padding: 4%;
 }

 .proj-text input[type="text"]
  {
     background-color: white;
     font-size: 20px;
     vertical-align: middle;
     width: 80%;
     margin: 5px 10px 5px 0;
     border: 1px solid #ddd;
     text-emphasis: emphasis empha;
  }

  .proj-text label{
    margin: 5px 10px 5px 0;
  }

  .proj-text h1{
    margin-left: 50%;
  }

  form label{
    font-weight: bold;
    font-size: 21px;
  }

  .proj-table{
    top: 100%;
    position: absolute;
    border-collapse: collapse;
  }
